@import "../variables";

.container-note {
  width: 100%;
  padding: 0 2rem;
  .container-note__add-note {
    display: flex;
    padding: 0 5rem;
  }
  h2 {
    margin-block-end: 3rem;
    text-align: center;
  }
  .addNote:hover {
    cursor: pointer;
  }
  .table-notes {
    width: 100%;
    font-size: 1.4rem;
    margin-block-start: 2rem;
    .table-notes__tbody {
      width: 100%;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .navbar__container-buttons {
    width: 74%;
  }
  .container-note {
    width: 55rem;
  }
}
