$fuente1: "Roboto", sans-serif;
$fuente2: "Source Sans Pro", sans-serif;
$colorPrimary: rgb(145, 49, 117);
$colorPrimaryAlpha: rgb(205, 88, 136);
$colorSecundary: rgb(32, 38, 46);
$colorBackground: #fff;
